msgraph-core==1.3.4
msgraph-sdk==1.0.0
msrest==0.7.1
msrestazure==0.6.4.post1
multidict==6.4.4
netaddr==1.3.0
oauthlib==3.2.2
openshift==0.13.2
opentelemetry-api==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
packaging==25.0
paramiko==3.5.1
pkginfo==1.12.1.2
portalocker==2.10.1
